<!DOCTYPE html>
<html>
<head>
    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page Meta -->
    <title><% if(typeof(title)!=='undefined') { %><%- title %><% } else { %><%- blog.title %><% } %></title>
    <meta name="description" content="<% if(typeof(description)!=='undefined') { %><%- description %><% } else { %><%- blog.description %><% } %>" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><!-- K: Need assets variable , or something like basepath -->

    <!-- <link rel="shortcut icon" href="favicon.ico">-->

    <!-- Styles'n'Scripts -->
    <link rel="stylesheet" type="text/css" href="assets/css/screen.css" /><!-- K: Need assets variable , or something like basepath -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />

    <!-- Ghost outputs important style and meta data with this tag -->
    <!-- {{ghost_head}} -->
</head>
<body class="<% if(current.source == 'index') { %>home-template<% } else { %>post-template<% } %>"><!-- K: body_class variable, home page class is home-template, post is like: post-template tag-getting-started -->

    <!-- Everything else gets inserted here -->
    <% if(current.source == 'index' && current.path.length == 1) { %>
        <%- yield %>
    <% } else if(typeof(public._data[current.source])!=='undefined') { %>
        <%- partial("_post") %>
    <% } else { %>
        <%- partial("_page") %>
    <% } %>

    <%- partial("_shared/footer") %>
    <!-- Ghost outputs important scripts and data with this tag -->
    <!-- {{ghost_foot}} -->

    <!-- The main JavaScript file for Casper -->
    <script type="text/javascript" src="asset/js/jquery.fitvids.js"></script><!-- K: Change back to relative links -->
    <script type="text/javascript" src="asset/js/index.js"></script>

</body>
</html>
