<div class="row">
  <div class="col-md-12">
    <div ng-view=""></div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular-route.js"></script>
<script src="/scripts/Chart.js"></script>
<script src="/scripts/angular-chart.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
<script src="/scripts/angular-cron-picker.min.js"></script>

<%if (user.features.indexOf('tourcomplete') === -1 ) { %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/scripts/angular-tour-tpls.min.js"></script>
  <% } %>

    <script>
      var app = angular.module('CronAsAService.controllers', ['ngRoute', 'angularMoment', 'chart.js', 'angular-cron-jobs' <%if (user.features.indexOf('tourcomplete') === -1) { %>, 'angular-tour' <% } %>]);
      app.constant('apiKey', '<%=apikey%>');
      app.constant('email', '<%=user.email%>');
      app.constant('name', '<%=user.name%>');
      app.constant('has_password', <%=user.password!=null%>);
      app.constant('invoice_email', '<%=user.info ? user.info.invoice_email : ''%>');
      app.constant('plan', '<%= user.stripe.plan ? user.stripe.plan : 'free' %>');
      app.constant('currency_symbol', '<%= __("currency_symbol") %>');
      app.constant('price_month', '<%= __("price_month") %>');
      app.constant('price_year', '<%= __("price_year") %>');
      app.constant('price_year_per_month', '<%= __("price_year_per_month") %>')               
    </script>
    <script src="/scripts/home/app.js"></script>
    <script src="/scripts/home/api-service.js"></script>
    <script src="/scripts/home/job-controller.js"></script>
    <script src="/scripts/home/contact-controller.js"></script>
    <script src="/scripts/home/settings-controller.js"></script>
    <script src="/scripts/home/plan-controller.js"></script>

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>

      var handler = StripeCheckout.configure({
        key: '<%- process.env.STRIPE_PUB_KEY || 'pk_test_Zv33f9N9g2JyQevFv38Q9SXn' %>',
        currency: '<%= __("currency") %>',
        image: 'images/logo.png',
        token: function (token) {
          document.getElementById('plan-token').value = token.id;
          document.getElementById('plan-form').submit();
        }
      });

      app.constant('stripe', handler);

      window.onpopstate = function () {
        handler.close();
      };
    </script>

    <!-- Templates -->
    <div style="display:none;">
      <div id="tour/tour.tpl.html" ng-include src="'/templates/tour.tpl.html'"></div>
    </div>