
<tour step="currentStep" post-tour="postTour()">
    <div class="row">
        <div class="col-md-12">
            <div ng-view=""></div>
        </div>
    </div>
</tour>
<!-- /Main -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular-route.js"></script>
<script src="/scripts/angular-tour-tpls.min.js"></script>
<script>
    angular.module('CronAsAService', [
        'CronAsAService.controllers',
        'CronAsAService.services'
    ]);

    angular.module('CronAsAService.controllers', ['ngRoute'<%if (user.features.indexOf('tourcomplete') === -1 ) { %>,'angular-tour'<% } %>])
        .controller('JobController', function($scope,$location,apiService,utils) {
            $scope.location = $location;
            $scope.cronList = [];
            $scope.formData = {
                headers:[],
                params:[]
            };
            $scope.newJobAlerts = [];
            $scope.jobAlerts = [];

            //new cron job
            $scope.newJob = function() {
                apiService.newJob($scope.formData).success(function(data) {
                    $scope.formData = {};//blank out the form

                    //reload the cron list
                    $scope.refreshList();
                    $location.path('/jobs');
                    $scope.$apply();
                }).error(function(data, status, headers, config) {
                    $scope.newJobAlerts.push({type:'error' , msg: data || status});    
                });
            };

            //delete job
            $scope.remove = function(id){
                apiService.delete(id).success(function(data){
                    $scope.refreshList(); 
                }).error(function(data, status, headers, config) {
                    $scope.jobAlerts.push({type:'error' , msg: data || status});    
                });
            }

            //refresh the jobs list
            $scope.refreshList = function(){
                apiService.getJobs().success(function(response){
                    $scope.cronList = response;
                });
            };

            $scope.addHeader = function(){
                $scope.formData.headers.push({'header':'value'});
            };

            $scope.addParam = function(){
                $scope.formData.params.push({'parameter':'value'});
            };

            $scope.closeAlert = function(index) {
                $scope.alerts.splice(index, 1);
            };

            $scope.refreshList(); 

            //tour
            $scope.currentStep = 0;

            //tour complete
            $scope.postTour = function(){
                apiService.tourComplete();            
            };
        })
        .controller('ContactController', function($scope, $routeParams) {
             $scope.params = $routeParams;
         })
        .controller('SettingsController', function($scope, $routeParams) {
             $scope.params = $routeParams;
         })
        .config(function($routeProvider) {
            $routeProvider.
              when('/jobs', {
                templateUrl: 'templates/jobs.html',
                controller: 'JobController'
              }).
              when('/newJob', {
                templateUrl: 'templates/newJob.html',
                controller: 'JobController'
              }).
              when('/contact', {
                templateUrl: 'templates/contact.html',
                controller: 'ContactController'
              }).
              when('/settings', {
                templateUrl: 'templates/settings.html',
                controller: 'SettingsController'
              }).
              otherwise({
                redirectTo: '/jobs'
              });
          });

    angular.module('CronAsAService.services', []).
      factory('apiService', function($http) {

        var API = {};

        API.getJobs = function() {
          return $http({
            method: 'GET', 
            url: '/api/jobs?apikey=<%=apikey%>'
          });
        };

        API.newJob = function(formData){
            return $http({
                method  : 'POST',
                url     : '/api/jobs?apikey=<%=apikey%>',
                data    : formData, 
                headers : { 'Content-Type': 'application/json' }
            });

        };

        API.delete = function(id){
             return $http({
                method  : 'DELETE',
                url     : '/api/jobs/' + id + '?apikey=<%=apikey%>', 
                headers : { 'Content-Type': 'application/json' }
            });
        };

        API.tourComplete = function(){
            return $http({
                method  : 'POST',
                url     : '/tourcomplete',
                headers : { 'Content-Type': 'application/json' }
            });
        };

        return API;
      })
      .factory('utils', function() {

        var UTILS = {};

        UTILS.readCookie = function(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') {
                    c = c.substring(1,c.length);
                }
                if (c.indexOf(nameEQ) === 0) {
                    return c.substring(nameEQ.length,c.length);
                }
            }
            return null;
        }

        UTILS.createCookie = function(name, value, days) {
            var expires;
            if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                expires = "; expires="+date.toGMTString();
            }
            else {
                expires = "";
            }
            document.cookie = name+"="+value+expires+"; path=/";
        }

        return UTILS;
      });
</script>

<!-- Templates -->
<script id="tour/tour.tpl.html" type="text/ng-template">
  <div class="tour-tip">
      <span class="tour-arrow tt-{{ ttPlacement }}"></span>
      <div class="tour-content-wrapper">
          <p ng-bind="ttContent"></p>
          <a ng-click="setCurrentStep(getCurrentStep() + 1)" ng-bind="ttNextLabel" class="btn btn-primary pull-right tour-next-tip"></a>
          <button ng-click="closeTour()" type="button" class="close tour-close-tip" data-dismiss="alert"><span aria-hidden="true">&times;             </span></button>
      </div>
  </div>
</script>

<script id="templates/jobs.html" type="text/ng-template">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green-sharp bold uppercase">Jobs</span>
            </div>
            <div class="actions">
                <a href="#/newJob" class="btn btn-circle btn-default">
                <i class="icon-plus"></i>
                <span class="hidden-480">
                New Job </span>
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div ng-repeat="alert in jobAlerts" class="note note-danger note-shadow" role="alert" style="display:none;">
                <p>
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{alert.msg}}
                </p>
            </div>
            <div class="table-container">								
                <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="datatable_orders" aria-describedby="datatable_orders_info" role="grid" tourtip="Welcome to your cron home screen, your jobs appear here for easy management.<%if (user.features.indexOf('keepalive') > -1 ) { %> You'll see we've added your first job, woohoo! <% } %>" tourtip-placement="bottom" tourtip-step="0">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="45%" class="sorting_asc" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">
                                     Url
                                    </th>
                                    <th width="45%" class="sorting_asc" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">
                                     Expression
                                    </th>
                                    <th width="10%" class="sorting_asc" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" ng-repeat="job in cronList">
                                    <td>{{job.url}}</td>
                                    <td>{{job.expression}}</td>
                                    <td><button class="btn btn-sm red filter-cancel" ng-click="remove(job._id)"><i class="fa fa-times"></i> Delete</button></td>
                                </tr>
                                <tr ng-hide="cronList.length">
                                    <td colspan="3">
                                        <i class="icon-frown"></i> No jobs here... <br/> <br/> <a href="#/newJob" class="btn btn-circle btn-default">Create a new job now</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="templates/newJob.html" type="text/ng-template">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green-sharp bold uppercase">Create a new Job</span>
            </div>
        </div>
        <div class="portlet-body">
            <form class="form form-vertical" ng-submit="newJob()">
                        <div ng-repeat="alert in newJobAlerts" class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{alert.msg}}
                        </div>
                       
                        <div class="control-group" tourtip="You can create a new job here. Just enter the url and cron expression and we'll do the rest. Simple." tourtip-placement="bottom" tourtip-step="1">
                          <label>URL</label>
                          <div class="controls">
                           <input type="text" class="form-control" placeholder="Url to ping" required ng-model="formData.url">
                          </div>
                        </div>      
                        
                        <div class="control-group">
                          <label>Expression</label>
                          <div class="controls">
                          	<input type="text" class="form-control" placeholder="e.g * * * * *" required ng-model="formData.expression">
                          </div>
                        </div> 
						<div class="control-group">
							<label>Headers</label>
                        	<div class="controls" ng-repeat="header in formData.headers">
								<div class="row" ng-repeat="(key,value) in header">
									<div class="col-md-6">
										<input ng-model="key" type="text" class="form-control" placeholder="Header">
									</div>
									<div class="col-md-6">
										<input ng-model="value" type="text" class="form-control col-md-6" placeholder="Value...">
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-circle btn-sm green-haze" ng-click="addHeader()">
									  Add Header
									</button>
								</div>
                        	</div>
						</div>
						  
						<div class="control-group">
							<label>Parameters</label>
                        	<div class="controls" ng-repeat="param in formData.params">
								<div class="row" ng-repeat="(key,value) in param">
									<div class="col-md-6">
										<input ng-model="key" type="text" class="form-control" placeholder="Parameter">
									</div>
									<div class="col-md-6">
										<input ng-model="value" type="text" class="form-control col-md-6" placeholder="Value...">
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-circle btn-sm green-haze" ng-click="addParam()">
									  Add Parameter
									</button>
								</div>
                        	</div>
						</div>
                        
                        <div class="form-actions right todo-form-actions">
                            <a href="#/jobs" class="btn btn-circle btn-sm btn-default">Cancel</a>
                            <button class="btn btn-circle btn-sm green-haze" type="submit">Save Changes</button>
                        </div>   
                        
                      </form>
        </div>
    </div>
</script>

<script id="templates/contact.html" type="text/ng-template">
    <div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								Tell us what you think
							</div>
						</div>
						<div class="portlet-body form">
							<form role="form" action="//formspree.io/cronasaservice@gmail.com" method="post">
                                <input type="hidden" name="_subject" value="Feedback" />
                                <input type="hidden" name="_replyTo" value="<%- user.email %>" />
								<div class="form-body">
									<div class="form-group">
										<label>Message</label>
										<textarea class="form-control" rows="3" name="InputMessage" placeholder="What can we help you with?"></textarea>
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn blue">Submit</button>
									<button type="button" class="btn default">Cancel</button>
								</div>
							</form>
						</div>
					</div>
</script>

<script id="templates/settings.html" type="text/ng-template">
    <div class="portlet light">
									<div class="portlet-title tabbable-line">
										<div class="caption caption-md">
											<span class="caption-subject font-blue-madison bold uppercase">Account Settings</span>
										</div>
									</div>
									<div class="portlet-body">
										
												<form role="form" action="#">
													<div class="form-group">
														<label class="control-label">API Key</label>
														<input type="text" class="form-control" value="<%- user.apikey %>" readonly>
													</div>
												</form>
										</div>
									</div>
								</div>
</script>