<div class="container">
	<div class="row">

		<div class="col-lg-12 v-center">
			<div class="portlet-body">
				<div class="row center">
					<div class="col-sm-12">
						<h4>We like to keep our pricing simple. You can pay monthly, or you can pay yearly. That's really it!</h4>
						<br/>
					</div>
				</div>
				<div class="row margin-bottom-40 pricing-table center">
					<!-- Pricing -->
					<div class="col-md-4">
						<div class="well">
							<h3><b>Free</b></h3>
							<hr>
							<p>Unlimited free trial</p>
							<hr>
							<p>1 Job</p>
							<hr>
							<p>Regular Support</p>
							<hr>
							<p><b><%= __("currency_symbol") %> 0.00 / Month</b></p>
							<hr>
							<a href="/" class="btn btn-default btn-block">Sign Up</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="well">
							<h3><b>Monthly</b></h3>
							<hr>
							<p>Unlimited Jobs</p>
							<hr>
							<p>Premium Support</p>
							<hr>
							<p><b><%= __("currency_symbol") %> <%= __("price_month") %> / Month</b></p>
							<hr>
							<a href="/" class="btn btn-default btn-block">Sign Up</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="well">
							<h3><b>Yearly</b></h3>
							<hr>
							<p>Unlimited Jobs</p>
							<hr>
							<p>Premium Support</p>
							<hr>
							<p>Extra Discount</p>
							<hr>
							<p><b><%= __("currency_symbol") %> <%= __("price_year_per_month") %> / Month</b></p>
							<hr>
							<a href="/" class="btn btn-default btn-block">Sign Up</a>
						</div>
					</div>
					<!--//End Pricing -->
				</div>
			</div>
		</div>
	</div>
</div>